 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a post-doctoral Research Fellow working in the Massachusetts General Hospital Cancer Center. I am interested in immunology, particularly in T-cells, and their eponymous antigen receptor, the TCR. My research focuses on using molecular biology, sequencing technologies and bioinformatic analysis to probe the phenotypic, genetic and transcriptional complexity of these immune cells, so as to better understand (and maybe even to improve) how our bodies protect us from infections and cancer.</p>
                </div>
                <div class="col-lg-4">
                    <p>While I do try to maintain up to date lists of publications and employment in all the usual places, frankly they are a lot of effort to maintain, so this site aims to provide a fall-back alternative, as well as letting me to break out of their formats a little. I'll also pop a version of the pdfs for each paper so as to be available for download to other researchers, as I understand is persmissable for authors to do on their own websites. This should also serve as a hub to link to my various other scientific-web presences.</p>
                </div>

                
            </div>
        </div>
    </section>